nav {
	background-color: #808080;
}

nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;

}

a:hover {
	background-color: #ee5f3c;

}


.board {
	width: 50%;
	height: 50%;
	display: inline-block;

}

.card {
	width: 150px;
	height: 200px;
	border: 1px solid #000000;
	background: rgb(255,249,4);
	border-radius: 10px;
	float: left;
	margin: 8%;
}


h1 {
	color: rgb(2, 132, 130);
}
h2 {
	color: #ffd700;
}
p {
  width: 50%;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

.name {
  color: #ff0000;
}

footer {
	background-color: #808080;
}

head, footer, p {
	text-align: center;
}

